@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body, html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e4decf;
  color: #4d4639;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  -moz-text-size-adjust: none;
       text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

.container-fluid {
  padding: 0 !important;
}

.outerBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
@media only screen and (min-width: 1400px) {
  .outerBox .container {
    max-width: 85%;
  }
}

h1 {
  font-family: "Baskervville", serif;
}

h2 {
  font-family: "Baskervville", serif;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.8px;
}
p span {
  font-weight: 500;
}

#logo {
  border-radius: 3px;
  width: 70px;
  height: auto;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  padding: 0.5rem;
}
#logo:hover {
  transform: scale(1.05);
}

.button {
  background-color: rgba(228, 222, 207, 0.4980392157);
  color: white;
  border-radius: 3px;
  font-size: 2rem;
  border: none;
  width: auto;
  height: auto;
  padding: 1rem 2rem;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  background-color: #e4decf;
  color: #4d4639;
}

/* NAVBAR */
.navbarBox {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4rem;
  box-sizing: border-box;
  z-index: 2;
  /* Přechod hamburgeru na křížek */
}
.navbarBox .nav-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbarBox .nav-links .right {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbarBox .nav-links .right .navLink {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-size: 2rem;
  padding: 1rem 2rem;
  color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.navbarBox .nav-links .right .navLink:hover {
  background-color: rgba(228, 222, 207, 0.4980392157);
  border-radius: 3px;
}
.navbarBox .nav-links .right .navLink.active {
  color: #4d4639;
  background-color: #e4decf;
  border-radius: 3px;
}
@media only screen and (max-width: 1000px) {
  .navbarBox .nav-links .right .navLink {
    margin-bottom: 1rem;
    color: #a8b5a5;
  }
}
@media only screen and (max-width: 1000px) {
  .navbarBox .nav-links .right {
    display: none;
  }
}
.navbarBox.scrolled {
  background-color: #e4decf;
}
.navbarBox.scrolled .nav-links .right .navLink {
  color: #4d4639;
}
.navbarBox.scrolled .nav-links .right .navLink.active {
  color: #e4decf;
  background-color: #867654;
}
.navbarBox.scrolled .nav-links .right .navLink:hover {
  background-color: rgba(138, 109, 51, 0.4470588235);
}
.navbarBox .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.navbarBox .hamburger .bar {
  height: 3px;
  width: 35px;
  background-color: #586b5c;
  border-radius: 3px;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}
@media only screen and (max-width: 1000px) {
  .navbarBox .hamburger {
    display: flex;
    z-index: 2;
    margin-top: 3rem;
  }
}
.navbarBox.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 13.5px) scaleX(1.2);
}
.navbarBox.open .bar:nth-child(2) {
  opacity: 0;
}
.navbarBox.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -13.5px) scaleX(1.2);
}
@media only screen and (max-width: 1000px) {
  .navbarBox.open .bar {
    background-color: #586b5c;
  }
}
@media only screen and (max-width: 1000px) {
  .navbarBox.open {
    padding-top: 0;
  }
  .navbarBox.open .nav-links .right {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    transition: 0.3s ease-in-out;
    margin-top: 0;
    z-index: 1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: red;
  }
}
@media only screen and (max-width: 1000px) and (max-width: 1000px) {
  .navbarBox.open .nav-links .right.show {
    display: flex;
    background-color: #e4decf;
  }
}

.home .landingPage {
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 100vh;
  width: 100%;
  position: relative;
}
@media only screen and (max-width: 1000px) {
  .home .landingPage {
    height: 400px;
  }
}
.home .landingPage .headingBox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 15%;
}
.home .landingPage .headingBox h1 {
  color: white;
  font-size: 9rem;
  letter-spacing: 2.2px;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.home .landingPage .headingBox p {
  color: white;
}
.home .landingPage .headingBox .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 9rem;
}
.home .landingPage .headingBox .buttons .button {
  text-decoration: none;
  letter-spacing: 1.2px;
  cursor: pointer;
}
.home .landingPage .headingBox .buttons .button:nth-child(1) {
  margin-right: 5rem;
}
.home .landingPage #phoneNumber {
  position: absolute;
  bottom: 30px;
  right: 40px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.home .landingPage #phoneNumber a {
  color: white;
  text-decoration: none;
}
.home .landingPage #phoneNumber a #phoneIcon {
  font-size: 3.6rem;
}
.home .landingPage #phoneNumber:hover {
  transform: scale(1.05);
}
.home .sluzby {
  margin-top: 9rem;
  width: 100%;
}
.home .sluzby .container h2 {
  font-size: 5rem;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  margin-bottom: 4rem;
}
.home .sluzby .container p {
  font-size: 2rem;
  letter-spacing: 1.2px;
}
.home .sluzby .sluzbyCards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-top: 9rem;
}
.home .sluzby .sluzbyCards .karticka {
  height: auto;
  min-width: 350px;
  max-width: 500px;
  background-color: #867654;
  color: #e4decf;
  padding: 3rem;
  padding-top: 7rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  border-radius: 3px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.home .sluzby .sluzbyCards .karticka .iconCircle {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #867654;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -40px;
  left: calc(50% - 40px);
  border: 3px solid #e4decf;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
}
.home .sluzby .sluzbyCards .karticka .iconCircle .iconCircle_ikonka {
  font-size: 4rem;
  color: #e4decf;
}
.home .sluzby .sluzbyCards .karticka h3 {
  font-size: 2rem;
  letter-spacing: 1.2px;
}
.home .sluzby .sluzbyCards .karticka h4 {
  font-size: 1.8rem;
  margin: 3rem 0 1rem 0;
  letter-spacing: 1.2px;
  color: white;
}
.home .sluzby .sluzbyCards .karticka .line {
  height: 2px;
  border-radius: 10px;
  background-color: white;
  width: 40%;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
.home .sluzby .sluzbyCards .karticka p {
  font-size: 1.8rem;
}
.home .sluzby .sluzbyCards .karticka p span {
  font-weight: 400;
  color: white;
}
.home .sluzby .sluzbyCards .karticka ul {
  list-style-type: none;
  padding: 0;
}
.home .sluzby .sluzbyCards .karticka ul li {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  letter-spacing: 1.2px;
}
.home .sluzby .sluzbyCards .karticka ul li span {
  font-weight: 600;
  color: white;
}
.home .sluzby .sluzbyCards .karticka:nth-child(1), .home .sluzby .sluzbyCards .karticka:nth-child(2) {
  margin-right: 6rem;
}/*# sourceMappingURL=App.css.map */