@import "index";

//OBECNÁ NASTAVENÍ BOXŮ
.container-fluid {
    padding: 0 !important;
}

.outerBox {
    width: 100%;
    @include column-start-center;

    > .container {
        // border: 1px solid black;
        
        @include w-1400-min {
            max-width: 85%;
        }
    }
}

//TYPOGRAFIE

h1 {
    font-family: $header-font;
}

.h2 {
    font-family: $header-font;
    font-size: 2 * $f-l;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    margin-bottom: $s-m;

    @include w-1000 {
        font-size: $f-xxxl;
    }

    @include w-600 {
        font-size: $f-xl;
    }
}



p {
    font-family: $main-font;
    font-size: $f-s;
    letter-spacing: 1.2px;

    span {
        font-weight: 500;
    }

    @include w-600 {
        font-size: $f-xs;
    }
}

li {
    font-family: $main-font;
    font-size: $f-s;
    letter-spacing: 1.2px;

    @include w-600 {
        font-size: $f-xs;
    }
}

b, strong {
    font-weight: 600 !important;
}

//LOGA, BUTTONY

#logo {
    border-radius: 3px;
    width: 70px;
    height: auto;
    // background-color: $base2-color;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: $s-xxxs;

    &:hover {
        transform: scale(1.05);
    }

    @include w-1000 {
        width: 60px;
    }

    @include w-600 {
        display: none;
    }
}

.button {
    background-color: $button-color;
    color: white;
    border-radius: 3px;
    font-size: $f-m;
    border: none;
    width: auto;
    height: auto;
    padding: $s-xxs $s-xs;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: $base2-color;
        color: $font-color;
    }

    @include w-1000 {
        font-size: $f-s;
    }

    @include w-600 {
        font-size: $f-xs;
        padding: $s-xxs $s-xxs;
    }
}

.brown-button {
    text-decoration: none;
    background-color: $button-second-color;
    font-size: $f-s;
    color: $font-color;
    cursor: pointer;

    &:hover {
        background-color: $contrast-color;
        color: white;
    }

    @include w-600 {
        font-size: $f-xs;
        padding: $s-xxs $s-xxs;
    }
}

.container {

    .alert {
        background-color: $contrast-color;
        width: 100%;
        box-shadow: $main-shadow;
        padding: $s-xs $s-s;
        margin-bottom: $s-s;

        @include w-600 {
            padding-left: $s-xs;
        }

        p {
            color: white;
            margin: 0;
        }
    }
}

.glassEffect {
    background: rgba(255, 255, 255, 0.37);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

//WEB SECTIONS
/* NAVBAR */
.navbarBox {
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: auto;
    @include row-between-center;
    padding: $s-s $s-m;
    box-sizing: border-box;
    z-index: 2;

    @include w-600 {
        padding-left: $s-xs;
    }

    @include w-400 {
        padding-left: $s-xxs;
    }

    //navbar - desktop
    .nav-links {
        width: 100%;
        @include row-between-center;

        .right {
            width: 55%;
            @include row-between-center;

            // @include w-1600 {
            //     width: 50%;
            // }

            // @include w-1200 {
            //     width: 60%;
            // }

            .navLink {
                text-decoration: none;
                font-family: $main-font;
                letter-spacing: 2px;
                font-size: $f-m;
                padding: $s-xxs $s-xs;
                color: white;
                transition: all 0.2s ease-in-out;
                cursor: pointer;

                // .navLink responsivity
                @include w-1000 {
                    margin-bottom: $s-xxs;
                    color: $font-color;
                    font-size: $f-s;
                }

                @include w-600 {
                    font-size: $f-xs;
                }
    
                &:hover { 
                    background-color: $navbar-hover-color;
                    border-radius: 3px;
                }
    
                &.active {
                    color: $font-color;
                    background-color: $base2-color;
                    border-radius: 3px;

                    @include w-1000 {
                        background-color: $contrast-color;
                        color: $base2-color;
                    }
                }

                &:nth-of-type(1) {
                    margin-right: $s-xxs;
                }
            }
    
            // .nav-links responsivity
            @include w-1000 {
                display: none;
            }
        }
    }

    //navbar - scrolled
    &.scrolled {
        background-color: $base2-color;

        .nav-links {

            .right {

                .navLink {
                    color: $font-color;

                    &.active {
                        color: $base2-color;
                        background-color: $contrast-color;
                    }

                    &:hover { 
                        background-color: $navbar-scrolled-hover-color;
                    }
                }
            }
        }

        .hamburger .bar {
            background-color: $font-color;
        }
    }

    //navbar - hamburger
    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;

        .bar {
            height: 3px;
            width: 35px;
            background-color: $base2-color;
            border-radius: 3px;
            transition: all 0.3s ease;
            margin-bottom: 10px;

            @media only screen and (max-width: 420px) and (min-height: 730px) {
                background-color: $font-color;
            }

            @media only screen and (max-width: 360px) and (min-height: 600px) {
                background-color: $font-color;
            }
        }

        // .hamburger responsivity
        @include w-1000 {
            display: flex;
            z-index: 2;
            margin-top: $s-xxs;
            margin-right: $s-l;
        }
    }

    /* Přechod hamburgeru na křížek */
    &.open {
        
        .bar {

            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 13.5px) scaleX(1.2);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -13.5px) scaleX(1.2);
            }

            // .bar - responsivity
            @include w-1000 {
                background-color: $font-color;
            }
        }

        // .nav.open - responsivity
        @include w-1000 {
            padding-top: $s-xs;

            .nav-links .right {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                text-align: center;
                transition: 0.3s ease-in-out;
                margin-top: 0;
                z-index: 1;
                padding-top: $s-xs;
                padding-bottom: $s-xs;
                background-color: $base2-color;

                &.show {

                    // .nav-links.show - responsivity
                    @include w-1000 {
                        display: flex;
                        background-color: $base2-color;
                    }
                }
            }
        }
    }
}

//FOOTER
.footerSection {
    background-color: $contrast-color;
    color: white;
    width: 100%;
    height: auto;
    padding-top: $s-m;
    padding-bottom: $s-m;

    @include w-600 {
        padding: $s-xs;
    }

    @include w-400 {
        padding: $s-xxs;
    }

    .footerInfo {
        @include row-between-start;

        .footerColumn {
            @include column-start-start;
            
            @include w-1200 {
                width: 35%;

                &:nth-of-type(1) {
                    width: 20%;
                }
            }

            @include w-1000 {

                &:nth-of-type(1),
                &:nth-of-type(2) {
                    display: none;
                }

                &:nth-of-type(3) {
                    width: 100%;


                }
            }

            h5 {
                font-size: $f-xs;
                margin-bottom: $s-xxs;
                letter-spacing: 2px;

                @include w-600 {
                    font-size: $f-xxs;
                }
            }

            p {
                font-size: $f-xxs;
                letter-spacing: 1.2px;
                margin-bottom: $s-xxs;

                &.copyrightMobile {
                    display: none;

                    @include w-600 {
                        display: flex;
                    }
                }

                &.copyrightDesktop,
                &.ico {

                    @include w-600 {
                        display: none;
                    }
                }

                @include w-600 {
                    font-size: $f-xxxs;
                }
            }

            a {
                text-decoration: none;
                color: white;
                font-size: $f-xxs;
                letter-spacing: 1.2px;
                margin-bottom: $s-xxs;
                cursor: pointer;

                &:hover {
                    color: $base2-color;
                }
            }

            .footerLink {
                text-decoration: none;
                color: white;
                font-size: $f-xxs;
                margin-bottom: $s-xxs;
                letter-spacing: 1.2px;
                cursor: pointer;

                &:hover {
                    color: $base2-color;
                }
            }
        }
    }

}


//FORMULÁŘ
form {
    @include column-start-start;
    padding: $s-s;
    @extend .glassEffect;

    @include w-1600 {
        width: 100%;
    }

    @include w-600 {
        padding: $s-s $s-xs;
    }

    @include w-400 {
        padding: $s-s $s-xxs;
    }

    label {
        font-size: $f-s;
        margin-right: $s-xs;
        margin-bottom: $s-xxs;
        
        @include w-600 {
            font-size: $f-xs;
        }
    }

    input, textarea {

        &:focus {
            outline: none;
            border: 2px solid #c1b6a0;
            box-shadow: 0 0 5px #c1b6a0;
        }
    }

    input {
        height: 30px;
        font-size: $f-s;
        margin-bottom: $s-s;
        min-width: 600px;
        width: 100%;
        @extend .glassEffect;

        @include w-1600 {
            min-width: 100%;
        }

        @include w-600 {
            font-size: $f-xs;
        }
    }

    textarea {
        width: 100%;
        margin-bottom: $s-xxs;
        font-size: $f-s;
        margin-right: $s-s;
        min-height: 150px;
        @extend .glassEffect;

        @include w-600 {
            min-height: 200px;
            font-size: $f-xs;
        }

        @include w-400 {
            min-height: 250px;
        }
    }

    .button {
        margin-top: $s-s;
        @extend .brown-button;
    }
}


//HOME
.home {

    //SEKCE LANDING PAGE
    .landingPage {
        background-image: url("/images/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        height: 100vh;
        width: 100%;
        position: relative;

        @include w-1000 {
            min-height: 400px;
            height: auto;
        }

        @include w-600 {
            height: 100vh;
            background-position: right;
        }
        

        .headingBox {
            @include column-start-start;
            margin-top: 15%;

            @include w-600 {
                padding-left: $s-xs;
                padding-right: $s-xs;
            }

            @include w-400 {
                padding-left: $s-xxs;
                padding-right: $s-xxs;
            }

            h1 {
                color: white;
                font-size: 3 * $f-xl;
                letter-spacing: 2.2px;
                line-height: 1.5;
                margin-bottom: $s-xxs;

                @include w-1400 {
                    font-size: 2 * $f-xxl;
                }

                @include w-1000 {
                    font-size: $f-xxxl;
                }

                @include w-600 {
                    font-size: $f-l;
                }
            }

            @include w-1000 {
                margin-top: 2 * $s-xxxl;
            }

            p {
                color: white;

                @include w-500 {
                    width: 60%;
                }

                @media only screen and (max-width: 420px) {
                    width: 70%;
                }

                @media only screen and (max-width: 360px) {
                    width: 80%;
                }
            }

            .buttons {
                @include row-between-center;
                margin-top: $s-xxxl;
                margin-bottom: $s-s;

                @include w-1000 {
                    margin-top: $s-m;
                    margin-bottom: $s-xxxl;
                }

                @include w-800 {
                    @include column-start-start;
                }

                .button {
                    text-decoration: none;
                    letter-spacing: 1.2px;
                    cursor: pointer;

                    .phoneIcon {
                        font-size: $f-l;
                        margin-left: $s-xxxs;
                    }

                    &:nth-child(1) {
                        margin-right: $s-l;

                        @include w-1000 {
                            margin-right: $s-s;
                        }

                        @include w-800 {
                            margin-bottom: $s-xs;
                            margin-right: 0;
                            width: 100%;
                        }
                    }
                }
            }
        }

        #phoneNumber {
            position: absolute;
            bottom: $s-s;
            right: 40px;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            margin-bottom: 0;

            @include w-600 {
                bottom: $s-xxxl;
            }

            @media only screen and (max-height: 600px) {
                bottom: $s-xs;
            }

            @media only screen and (max-height: 525px) {
                display: none;
            }

            a {
                color: white;
                text-decoration: none;
                font-size: $f-l;

                .phoneIcon {
                    font-size: $f-xxl;

                    @include w-1000 {
                        font-size: $f-l;
                    }

                    @include w-600 {
                        font-size: $f-m;
                    }
                }

                @include w-1000 {
                    font-size: $f-m;
                }

                @include w-600 {
                    font-size: $f-s;
                }
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    //SEKCE SLUZBY
    .sluzby {
        margin-top: $s-xxxl;
        margin-bottom: 2 * $s-l;
        width: 100%;
        height: auto;

        @include w-600 {
            padding-left: $s-xs;
            padding-right: $s-xs;
        }

        @include w-400 {
            padding-left: $s-xxs;
            padding-right: $s-xxs;
        }

        .container {
            h2 {
                @extend .h2;
            }
    
            p {

                &:nth-of-type(2) {
                    margin-top: $s-xs;
                    margin-bottom: $s-xxs;
                }
            }

            ul {

                li {
                    margin-bottom: $s-xxs;

                    span {
                        font-weight: 600;
                    }
                }
            }
        }

        .sluzbyCards {
            display: grid;
            grid-template-areas:
            "pojistovny derma estetika";
            margin-top: $s-xxxl;
            height: auto;

            @include w-1400 {
                grid-template-areas:
                "pojistovny"
                "derma"
                "estetika";
                width: 60%;
            }

            @include w-1000 {
                width: 100%;
            }

            .karticka {
                color: $contrast-color; //VERZE 2
                padding: $s-s;
                padding-top: $s-xxl;
                position: relative;
                @include column-start-center;
                
                &.pojistovny {
                    grid-area: pojistovny;
                    
                    ul {
                        align-self: flex-start;
                    }
                }

                &.derma {
                    grid-area: derma;
                }

                &.estetika {
                    grid-area: estetika;
                }

                .obsah {
                    @include column-between-center;
                    height: 100%;

                    .horni {
                        @include column-start-center;
                    }
                }

                .iconCircle {
                    border-radius: 50%;
                    width: 80px;
                    height: 80px;
                    // background-color: $contrast-color; VERZE1
                    background-color: $beige-glass-color; //VERZE 2
                    @include row-center-center;
                    position: absolute;
                    top: -40px;
                    left: calc(50% - 40px);
                    border: 3px solid white;
                    box-shadow: $main-shadow;

                    @include w-600 {
                        width: 70px;
                        height: 70px;
                        top: -35px;
                        left: calc(50% - 35px);
                    }

                    .iconCircle_ikonka {
                        font-size: 2 * $f-m;
                        // color: $base2-color; VERZE 1
                        color: $contrast-color; //VERZE2

                        @include w-600 {
                            font-size: $f-xxl;
                        }
                    }
                }

                h3 {
                    font-size: $f-m;
                    letter-spacing: 1.2px;

                    @include w-400 {
                        font-size: $f-s;
                    }
                }

                h4 {
                    font-size: $f-s;
                    margin: $s-s 0 $s-xxxs 0;
                    letter-spacing: 1.2px;
                    // color: white; VERZE1 
                    color: $font-color; //VERZE2
                }

                .line {
                    height: 2px;
                    border-radius: 10px;
                    background-color: white;
                    width: 40%;
                    margin-bottom: $s-s;
                    margin-top: $s-xxs;
                }

                // .line2 {
                //     align-self: flex-start;
                //     margin-bottom: $s-xs;
                //     margin-top: $s-xxxs;
                //     height: 1px;
                // }

                p {

                    span {
                        font-weight: 400;
                        // color: white; VERZE1 
                        color: $font-color; //VERZE2
                    }
                }

                ul {
                    list-style-type: none;
                    padding: 0;

                    li {
                        margin-bottom: $s-xs;
    
                        span {
                            font-weight: 600;
                            // color: white; VERZE1 
                            color: $font-color; //VERZE2
                        }
                    }
                }

                .button {
                    margin: $s-s 0 0 0;
                    @extend .brown-button;
                }

                &:nth-child(1),
                &:nth-child(2) {
                    margin-right: $s-xl;

                    @include w-1400 {
                        margin-right: 0;
                        margin-bottom: $s-xxxl;
                    }
                }
            }
        }
    }

    //SEKCE NÁŠ TÝM
    .tym {
        width: 100%;
        background-color: $base1-color;
        color: $hover-color;
        padding-top: $s-xxxl;

        @include w-600 {
            padding-left: $s-xs;
            padding-right: $s-xs;
        }

        @include w-400 {
            padding-left: $s-xxs;
            padding-right: $s-xxs;
        }

        .container {

            h2 {
                @extend .h2;
            }

            p {

                span {
                    font-weight: 600;
                }
            }

            .medailonky {
                width: 100%;
                @include column-start-center;
                margin-top: $s-xxxl;

                @include w-1400 {
                    margin-top: $s-xl;
                }


                .medailonek {
                    margin-bottom: $s-xxl;
                    width: auto;
                    max-width: 90%;
                    min-height: 400px;
                    padding: $s-m;
                    padding-left: 3 * $s-xl;
                    position: relative;

                    @include w-1400 {
                        max-width: 80%;
                    }

                    @include w-1000 {
                        max-width: 100%;
                        padding-left: $s-m;
                        min-height: auto;
                    }

                    @include w-600 {
                        padding: $s-xs;
                        margin-bottom: $s-s;
                    }

                    &:nth-of-type(1) {

                        @include w-1400 {
                            margin-bottom: $s-xl;
                        }

                        @include w-600 {
                            margin-bottom: $s-m;
                        }
                    }

                    .imgCase {
                        border-radius: 3px;
                        box-shadow: $main-shadow;
                        position: absolute;
                        top: calc(50% - 150px);
                        left: -60px;
                        width: 200px;

                        @include w-1000 {
                            display: none;
                        }

                        img {
                            border-radius: 3px;
                            height: 280px;
                            width: auto;
                        }
                    }
                    
                    .title {
                        max-width: 400px;

                        @include w-1000 {
                            max-width: 100%;
                        }

                        h4 {
                            font-size: $f-m;

                            @include w-600 {
                                font-size: $f-s;
                            }
                        }
    
                        .line {
                            width: 40%;
                            background-color: $hover-color;
                            height: 2px;
                            border-radius: 10px;
                            margin-top: $s-xxxs;
                            margin-bottom: $s-s;

                            @include w-1000 {
                                width: 25%;
                            }

                            @include w-800 {
                                width: 30%;
                            }
                        }
                    }
                }
            }
            
        }

        .carouselBox {
            @include column-start-center;
            
            .carouselGallery {
                width: 500px;
                box-shadow: $main-shadow;

                img {
                    max-width: 90%; /* Obrázek nebude nikdy větší než 90% šířky okna */
                    max-height: 90%; /* Obrázek nebude nikdy větší než 90% výšky okna */
                }
            }
        }
    }

    //SEKCE OTEVÍRACÍ DOBA
    .oteviracka {
        width: 100%;
        background-color: $base2-color;
        color: $font-color;
        padding-top: $s-xxxl;
        padding-bottom: $s-xxxl;

        @include w-600 {
            padding-left: $s-xs;
            padding-right: $s-xs;
        }

        @include w-400 {
            padding-left: $s-xxs;
            padding-right: $s-xxs;
        }

        .container {

            h2 {
                @extend .h2;
            }

            .mistoCas {
                @include row-between-start;

                @include w-1400 {
                    @include column-start-start;
                }

                .misto {
                    @include column-start-start;
                    margin-right: $s-m;
                    text-align: left;

                    @include w-1400 {
                        width: 100%;
                        @include column-start-start;
                    }

                    .mistoPhoneDisplay {
                        width: 100%;
                        
                        @include w-1400 {
                            @include row-between-start;
                        }

                        @include w-1000 {
                            @include column-start-start;
                        }
                    }

                    h3 {
                        font-size: $f-l;
                        margin-bottom: $s-xs;

                        @include w-600 {
                            font-size: $f-m;
                        }
                    }

                    .info {
                        cursor: pointer;
                        margin-bottom: $s-xxs;

                        a {
                            @include row-start-start;
                            text-decoration: none;
                            color: $font-color;

                            .mistoIkonka {
                                font-size: $f-xl;
                                margin-right: $s-xs;
                                
                                @include w-600 {
                                    margin-right: $s-xxs;
                                }
                            }

                            &:hover {
                                color: $link-color;
                            }
                        }
                    }

                    .mistoAdresa {
                        margin-bottom: $s-s;

                        @include w-1400 {
                            order: 2;
                        }

                        @include w-1000 {
                            margin-bottom: 0;
                            margin-top: $s-m;
                        }
                    }

                    .mistoKontakt {
                        
                        .info {

                            &:nth-of-type(1) {
                                margin-bottom: $s-xs;
                            }
                        }
                    }
                }

                .cas {
                    padding: $s-m $s-l;
                    border-radius: 3px;
                    @include column-start-start;
                    max-width: 60%;

                    @include w-1600 {
                        max-width: 50%;
                    }

                    @include w-1400 {
                        max-width: 100%;
                        width: 100%;
                        margin-top: $s-xl;
                    }

                    @include w-1000 {
                        padding: $s-m $s-s;
                    }

                    @include w-400 {
                        padding: $s-m $s-xs;
                    }

                    @include w-330 {
                        padding: $s-m $s-xxs;
                    }

                    h3 {
                        font-size: $f-l;
                        margin-bottom: $s-s;
                        align-self: center;

                        @include w-600 {
                            font-size: $f-m;
                        }
                    }

                    .casDny {
                        margin-top: $s-s;
                        width: 100%;
                        font-size: $f-s;
                        
                        .row {
                            margin-bottom: $s-xs;
                            
                            @include w-600 {
                                @include column-start-center;
                                text-align: center;
                            }

                            .col-6 {

                                @include w-1600 {

                                    &:nth-child(2n+1) {
                                        width: 40%;
                                    }

                                    &:nth-child(2n) {
                                        width: 60%;
                                    }
                                }

                                @include w-1400 {

                                    &:nth-child(2n+1) {
                                        width: 50%;
                                    }

                                    &:nth-child(2n) {
                                        width: 50%;
                                    }
                                }

                                @include w-1000 {

                                    &:nth-child(2n+1) {
                                        width: 30%;
                                    }

                                    &:nth-child(2n) {
                                        width: 70%;
                                    }
                                }

                                @include w-600 {
                                    &:nth-child(2n+1) {
                                        width: 100%;
                                    }

                                    &:nth-child(2n) {
                                        width: 100%;
                                    }
                                };

                                span {
                                    font-weight: 500;
                                    margin: 0 $s-xxs;
                                }
                            }

                            &:last-of-type {
                                margin-bottom: 0;
                            }
                        }

                    }
                }
            }
        }
    }

    //SEKCE GALLERY
    .bordercontainer {

        .experiment {

            .content {
                max-width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin: 0 auto;
                overflow: auto;
                border-radius: 3px;
                margin: $s-xl 0 (2 * $s-xl) 0;

                .img-box {
                    min-width: 134px;
                    max-height: 300px;
                    width: calc(25% - 16px);
                    flex-grow: 1;
                    margin: $s-xxxs;
                    overflow: hidden;
                    border-radius: 3px;
                    position: relative;
                    cursor: pointer;
                    display: inline-block;

                    img {
                        max-width: 100%;
                        min-height: 100%;
                        object-fit: cover;
                        border-radius: 3px;
                    }

                    &::after {
                        content: "zobrazit";
                        font-size: $f-s;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: rgba(0, 0, 0, 0.5);
                        color: white;
                        border-radius: 3px;
                        white-space: nowrap;
                        opacity: 0; /* Skrytí před hoverem */
                        transition: opacity 0.3s ease;
                        width: 100%;
                        height: 100%;
                        @include row-center-center;
                        pointer-events: none;
                        letter-spacing: 1.2px;
                    }

                    &:hover {
                        
                        &::after {
                            opacity: 1; /* Zobrazení při hoveru */
                        }
                    }
                }
            }
        }
    }
}

  .modal-body img {
    max-width: 100%;
  }

  .galleryButton {
    font-size: $f-s !important;
    background-color: $green-button-color !important;
    color: white !important;
    font-family: $main-font !important;
    letter-spacing: 1px !important;

    &:hover {
        background-color: $hover-color !important;
    }
  }
  


//SEKCE SLUŽBY A CENÍK
.servicesPrices {

    .landingPage {
        background-image: url("/images/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        height: 100vh;
        width: 100%;
        position: relative;

        @media only screen and (max-height: 800px) {
            height: auto;
        }   

        @media only screen and (orientation: portrait) {
            background-image: none;
            background-color: $navbar-scrolled-hover-color;
            height: auto;
        }

        .container {
            margin-bottom: $s-s;

            @include w-600 {
                padding-left: $s-xs;
                padding-right: $s-xs;
            }
    
            @include w-400 {
                padding-left: $s-xxs;
                padding-right: $s-xxs;
            }

            .boxes {
                margin-top: 2 * $s-xxxl;
                color: $font-color;
                max-width: 60%;

                @media only screen and (orientation: portrait) {
                    max-width: 80%;
                }

                @media only screen and (orientation: portrait) and (max-width: 400px) {
                    max-width: 100%;
                }

                @media only screen and (max-width: 400px) and (max-height: 850px) {
                    margin-top: 2 * $s-xxl;
                }

                .dermaBox, .estetikaBox {
                    background-color: $base2-color;
                    border-radius: 3px;
                    margin-bottom: $s-s;
                    box-shadow: $main-shadow;
                    padding: $s-xs;
                    max-height: 20%;

                    @media only screen and (max-width: 400px) and (max-height: 850px) {
                        padding: $s-xxs;
                    }
                    
                    h5 {
                        font-size: $f-l;

                        @media only screen and (max-width: 400px) and (max-height: 850px) {
                            font-size: $f-m;
                        }

                    }

                    .line {
                        background-color: $font-color;
                        height: 2px;
                        width: 20%;
                        border-radius: 10px;
                        margin-top: $s-xxs;
                        margin-bottom: $s-xs;

                        @media only screen and (max-width: 400px) and (max-height: 850px) {
                            margin-bottom: $s-xxs;
                            width: 30%;
                        }
                    }

                    .button {
                        @extend .brown-button;

                    }
                }
            }
        }
    }

    //dermatologické služby
    .dermatologickeSluzby {
        width: 100%;
        background-color: $base2-color;
        padding-top: $s-xxxl;
        padding-bottom: 2 * $s-l;

        @include w-600 {
            padding: $s-xxl $s-xs;
        }

        @include w-400 {
            padding-left: $s-xxs;
            padding-right: $s-xxs;
        }
        
        .container {

            h2 {
                @extend .h2;
            }

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    margin-bottom: $s-xxs;

                    span {
                        font-weight: 600;
                        // color: white; VERZE1 
                        color: $font-color; //VERZE2
                    }
                }
            }

            h3 {
                margin-top: $s-xxl;
                margin-bottom: $s-s;
                font-size: $f-xl;
                letter-spacing: 2.2px;
                font-family: $header-font;
                text-transform: uppercase;

                @include w-600 {
                    margin-top: $s-l;
                    font-size: $f-l;
                }
            }

            .konkretniSluzby {
                margin-bottom: $s-m;
                display: grid;
                grid-template-areas:
                "prvni prvni druha druha treti treti"
                "ctvrta ctvrta ctvrta pata pata pata";
                gap: $s-xs;

                @include w-1000 {
                    grid-template-areas:
                    "prvni"
                    "druha"
                    "treti"
                    "ctvrta"
                    "pata";
                }

                .sluzba {
                    padding: $s-xs;
                    @include column-center-center;
                    text-align: center;
                    color: $font-color;
                    @extend .glassEffect;

                    @include w-600 {
                        padding: $s-xxs;
                    }

                    p {
                        margin: 0;
                    }

                    &.prvni {
                        grid-area: prvni;
                    }

                    &.druha {
                        grid-area: druha;
                    }

                    &.treti {
                        grid-area: treti;
                    }

                    &.ctvrta {
                        grid-area: ctvrta;
                    }

                    &.pata {
                        grid-area: pata;
                    }
                }
            }

            .button {
                @extend .brown-button;
            }
        }
    }

    //estetické služby
    .estetickeSluzby {
        width: 100%;
        background-color: $base1-color;
        padding-top: $s-xxxl;
        padding-bottom: 2 * $s-l;
        color: $hover-color;

        @include w-600 {
            padding: $s-xxl $s-xs;
        }

        @include w-400 {
            padding-left: $s-xxs;
            padding-right: $s-xxs;
        }
        
        .container {
            
            h2 {
                @extend .h2;
            }

            h3 {
                margin-top: $s-xxl;
                margin-bottom: $s-s;
                font-size: $f-xl;
                letter-spacing: 2.2px;
                font-family: $header-font;
                text-transform: uppercase;

                @include w-600 {
                    margin-top: $s-l;
                    font-size: $f-l;
                }
            }

            .konkretniSluzby {
                margin-bottom: $s-m;
                display: grid;
                grid-template-areas:
                "prvni prvni prvni prvni prvni"
                "druha treti ctvrta pata sesta"
                "sedma osma devata desata jedenacta";
                gap: $s-xs;

                @include w-1000 {
                    grid-template-areas:
                    "prvni"
                    "druha"
                    "treti"
                    "ctvrta"
                    "pata"
                    "sesta"
                    "sedma"
                    "osma"
                    "devata"
                    "desata"
                    "jedenacta";
                }

                .sluzba {
                    padding: $s-xs;
                    @include column-center-center;
                    text-align: center;
                    color: $hover-color;
                    @extend .glassEffect;

                    @include w-600 {
                        padding: $s-xxs;
                    }

                    p {
                        margin: 0;
                    }

                    &.prvni {
                        grid-area: prvni;
                    }

                    &.druha {
                        grid-area: druha;
                    }

                    &.treti {
                        grid-area: treti;
                    }

                    &.ctvrta {
                        grid-area: ctvrta;
                    }

                    &.pata {
                        grid-area: pata;
                    }

                    &.sesta {
                        grid-area: sesta;
                    }

                    &.sedma {
                        grid-area: sedma;
                    }

                    &.osma {
                        grid-area: osma;
                    }

                    &.devata {
                        grid-area: devata;
                    }

                    &.desata {
                        grid-area: desata;
                    }

                    &.jedenacta {
                        grid-area: jedenacta;
                    }
                }
            }

            .button {
                text-decoration: none;
                background-color: $green-button-color;
                margin-top: $s-xxs;
                font-size: $f-s;
                color: white;
                cursor: pointer;

                &:hover {
                    background-color: $hover-color;
                    color: white;
                }
            }

        }
    }

    //ceník
    .cenik {
        width: 100%;
        background-color: $base2-color;
        padding-top: $s-xxxl;
        padding-bottom: 2 * $s-l;

        @include w-600 {
            padding: $s-xxl $s-xs;
        }

        @include w-400 {
            padding-left: $s-xxs;
            padding-right: $s-xxs;
        }
        
        .container {
            
            h2 {
                @extend .h2;
            }

            a {
                text-decoration: none;
                color: $font-color;

                &:hover {
                    color: $link-color;
                }
            }

            #accordion {
                margin-top: $s-m;
                margin-bottom: $s-m;

                .card {
                    margin-bottom: $s-xxxs;
                    @extend .glassEffect;
                    
                    .card-header {
                        border: none;

                        .btn {
                            font-size: $f-s;
                            text-align: left;

                            @include w-600 {
                                font-size: $f-xs;
                            }
                        }
                    }
                    
                    .card-body {
                        padding: $s-xs;

                        @include w-600 {
                            padding: $s-xxs;
                        }

                        p {
                            font-size: $f-xs;

                            &.cena {
                                font-weight: 500;
                            }
                        }
                        
                    }
                }
            }

            .button {
                @extend .brown-button;
            }
        }
    }
}


//SEKCE KONTAKT
.kontakt {
    .line {
        width: 100%;
        background-color: $button-second-color;
        height: 120px;
    }

    .container {
        padding-top: $s-xxxl;
        padding-bottom: 2 * $s-l;

        @include w-600 {
            padding: $s-xxl $s-xs $s-xxxl $s-xs;
        }

        @include w-400 {
            padding-top: $s-xl;
            padding-left: $s-xxs;
            padding-right: $s-xxs;
        }

        .informace {
            @include row-between-start;

            @include w-1600 {
                @include column-start-center;
            }

            h2 {
                @extend .h2;
                    font-size: $f-xxxl;

                @include w-1200 {
                    margin-bottom: $s-s;
                }

                @include w-800 {
                    font-size: $f-xl;
                    margin-bottom: $s-xs;
                }

                @include w-400 {
                    font-size: $f-l;
                }
            }

            a {
                font-size: $f-s;
                text-decoration: none;
                color: $font-color;
                cursor: pointer;

                &:hover {
                    color: $link-color;
                }
            }

            ul {

                li {

                    span {
                        font-weight: 600;
                    }
                }

                &:nth-of-type(1) {
                    margin-bottom: $s-s;
                }
            }

            .left {
                @include column-start-start;
                margin-right: $s-xxxl;
                width: 100%;

                @include w-1600 {
                    @include row-between-start;
                    margin-right: 0;
                    margin-bottom: $s-xxxl;
                }

                @include w-1200 {
                    @include column-start-center;
                }

                @include w-600 {
                    margin-bottom: $s-xxl;
                }

                @include w-600 {
                    margin-bottom: $s-l;
                }

                .udaje {
                    margin-bottom: $s-m;

                    @include w-1600 {
                        margin-right: $s-xxxl;
                        width: 50%;
                    }

                    @include w-1200 {
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: $s-l;
                    }

                    @include w-600 {
                        margin-bottom: $s-m;
                    }

                    p, a {
                        @include row-start-start;

                        .kontaktIkonka {
                            font-size: $f-l;
                            margin-right: $s-xxs;
                        }
                    }

                    .objednatSeLink {
                        background-color: $button-second-color;
                        @include row-start-center;
                        padding: $s-xxxs;
                        margin-bottom: $s-xxs;
                        border-radius: 3px;
                        max-width: 220px;
                        
                        &:hover {
                            background-color: $contrast-color;
                            color: $base2-color;
                        }
                    }
                }

                .spojeni {

                    @include w-1600 {
                        width: 50%;
                    }

                    @include w-1200 {
                        width: 100%;
                    }

                    .bus {
                        font-weight: 600;
                    }
                }
            }

            .right {
                @include column-start-start;
                width: 100%;

                .formular {
                    width: 100%;

                    p {
                        margin-bottom: $s-s;
                    }
                }
            }
        }

        .mapa {
            @include column-start-center;
            margin-top: $s-xxxl;
            width: 100%;

            @include w-600 {
                margin-top: $s-xl;
            }

            .google-map-code {
                @include column-start-center;
                width: 100%;

                iframe {

                    @include w-2000 {
                        width: 1700px;
                    }

                    @include w-1600 {
                        width: 100%;
                    }

                    @include w-800 {
                        height: 400px;
                    }

                    @include w-600 {
                        height: 350px;
                        width: 90%;
                    }

                    @include w-400 {
                        height: 250px;
                    }
                }
            }
        }
    }
}