@import "index";

//OBECNÁ NASTAVENÍ
.container-fluid {
    padding: 0 !important;
}

.outerBox {
    width: 100%;
    @include column-start-center;

    .container {
        // border: 1px solid black;
        
        @include w-1400-min {
            max-width: 85%;
        }
    }
}

h1 {
    font-family: $header-font;
}

h2 {
    font-family: $header-font;
}

p {
    font-family: $main-font;
    font-size: $f-l;
    letter-spacing: 0.8px;

    span {
        font-weight: 500;
    }
}

#logo {
    border-radius: 3px;
    width: 70px;
    height: auto;
    // background-color: $base2-color;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: $s-xxxs;

    &:hover {
        transform: scale(1.05);
    }
}

.button {
    background-color: #e4decf7f;
    color: white;
    border-radius: 3px;
    font-size: $f-m;
    border: none;
    width: auto;
    height: auto;
    padding: $s-xxs $s-xs;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: $base2-color;
        color: $font-color;
    }
}

//WEB SECTIONS
/* NAVBAR */
.navbarBox {
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: auto;
    @include row-between-center;
    padding: $s-s $s-m;
    box-sizing: border-box;
    z-index: 2;

    //navbar - desktop
    .nav-links {
        width: 100%;
        @include row-between-center;

        .right {
            width: 50%;
            @include row-between-center;

            .navLink {
                text-decoration: none;
                font-family: $main-font;
                letter-spacing: 2px;
                font-size: $f-m;
                padding: $s-xxs $s-xs;
                color: white;
                transition: all 0.2s ease-in-out;
                cursor: pointer;
    
                &:hover { 
                    background-color: #766f639c;
                    border-radius: 3px;
                }
    
                &.active {
                    color: $font-color;
                    background-color: $base2-color;
                    border-radius: 3px;
                }
    
                // .navLink responsivity
                @include w-1000 {
                    margin-bottom: $s-xxs;
                    color: $base1-color;
                }
            }
    
            // .nav-links responsivity
            @include w-1000 {
                display: none;
            }
        }
    }

    //navbar - scrolled
    &.scrolled {
        background-color: $base2-color;

        .nav-links {

            .right {

                .navLink {
                    color: $font-color;

                    &.active {
                        color: $base2-color;
                        background-color: $contrast-color;
                    }

                    &:hover { 
                        background-color: #8474579c;
                    }
                }
            }
        }
    }

    //navbar - hamburger
    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;

        .bar {
            height: 3px;
            width: 35px;
            background-color: $hover-color;
            border-radius: 3px;
            transition: all 0.3s ease;
            margin-bottom: 10px;
        }

        // .hamburger responsivity
        @include w-1000 {
            display: flex;
            z-index: 2;
            margin-top: $s-s;
        }
    }

    /* Přechod hamburgeru na křížek */
    &.open {
        
        .bar {

            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 13.5px) scaleX(1.2);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -13.5px) scaleX(1.2);
            }

            // .bar - responsivity
            @include w-1000 {
                background-color: $hover-color;
            }
        }

        // .nav.open - responsivity
        @include w-1000 {
            padding-top: 0;

            .nav-links .right {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                text-align: center;
                transition: 0.3s ease-in-out;
                margin-top: 0;
                z-index: 1;
                padding-top: $s-xs;
                padding-bottom: $s-xs;
                background-color: red;

                &.show {

                    // .nav-links.show - responsivity
                    @include w-1000 {
                        display: flex;
                        background-color: $base2-color;
                    }
                }
            }
        }
    }
}


//HOME
.home {

    //SEKCE LANDING PAGE
    .landingPage {
        background-image: url("/images/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        height: 100vh;
        width: 100%;
        position: relative;

        @include w-1000 {
            height: 400px; //opravit pak podle obsahu na auto
        }

        .headingBox {
            @include column-start-start;
            margin-top: 15%;

            h1 {
                color: white;
                font-size: 3 * $f-xl;
                letter-spacing: 2.2px;
                line-height: 1.5;
                margin-bottom: $s-xxs;
            }

            p {
                color: white;
            }

            .buttons {
                @include row-between-center;
                margin-top: $s-xxxl;

                .button {
                    text-decoration: none;
                    letter-spacing: 1.2px;
                    cursor: pointer;

                    &:nth-child(1) {
                        margin-right: $s-l;
                    }
                }
            }
        }

        #phoneNumber {
            position: absolute;
            bottom: 30px;
            right: 40px;
            transition: all 0.2s ease-in-out;
            cursor: pointer;

            a {
                color: white;
                text-decoration: none;

                #phoneIcon {
                    font-size: $f-xxl;
                }
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    //SEKCE SLUZBY
    .sluzby {
        margin-top: $s-xxxl;
        margin-bottom: 2 * $s-l;
        width: 100%;

        .container {
            h2 {
                font-size: 2 * $f-l;
                letter-spacing: 2.2px;
                text-transform: uppercase;
                margin-bottom: $s-m;
            }
    
            p {
                font-size: $f-m;
                letter-spacing: 1.2px;
            }
        }

        .sluzbyCards {
            @include row-between-start;
            margin-top: $s-xxxl;

            .karticka {
                height: auto;
                min-width: 350px;
                max-width: 500px;
                background-color: $contrast-color;
                color: $base2-color;
                padding: $s-s;
                padding-top: $s-xxl;
                box-shadow: $main-shadow;
                border-radius: 3px;
                position: relative;
                @include column-start-center;

                .iconCircle {
                    border-radius: 50%;
                    width: 80px;
                    height: 80px;
                    background-color: $contrast-color;
                    @include row-center-center;
                    position: absolute;
                    top: -40px;
                    left: calc(50% - 40px);
                    border: 3px solid $base2-color;
                    box-shadow: $main-shadow;

                    .iconCircle_ikonka {
                        font-size: 2 * $f-m;
                        color: $base2-color;
                    }
                }

                h3 {
                    font-size: $f-m;
                    letter-spacing: 1.2px;
                }

                h4 {
                    font-size: $f-s;
                    margin: $s-s 0 $s-xxs 0;
                    letter-spacing: 1.2px;
                    color: white;
                }

                .line {
                    height: 2px;
                    border-radius: 10px;
                    background-color: white;
                    width: 40%;
                    margin-bottom: $s-s;
                    margin-top: $s-xxs;
                }

                // .line2 {
                //     align-self: flex-start;
                //     margin-bottom: $s-xs;
                //     margin-top: $s-xxxs;
                //     height: 1px;
                // }

                p {
                    font-size: $f-s;

                    span {
                        font-weight: 400;
                        color: white;
                    }
                }

                ul {
                    list-style-type: none;
                    padding: 0;

                    li {
                        font-size: $f-s;
                        margin-bottom: $s-xs;
                        letter-spacing: 1.2px;
    
                        span {
                            font-weight: 600;
                            color: white;
                        }
                    }
                }

                .button {
                    text-decoration: none;
                    font-size: $f-s;
                    margin: $s-s 0 0 0;
                }

                &:nth-child(1),
                &:nth-child(2) {
                    margin-right: $s-xl;
                }
            }
        }
    }

    //SEKCE NÁŠ TÝM
    .tym {
        width: 100%;
        background-color: $base1-color;
        color: $hover-color;
        padding-top: $s-xxxl;

        .container {

            h2 {
                font-size: 2 * $f-l;
                letter-spacing: 2.2px;
                text-transform: uppercase;
                margin-bottom: $s-m;
            }

            p {
                font-size: $f-s;

                    span {
                        font-weight: 600;
                    }
            }

            .medailonky {
                width: 100%;
                @include column-start-center;
                margin-top: $s-xxxl;

                .medailonek {
                    margin-bottom: $s-xxl;
                    width: auto;
                    max-width: 90%;
                    min-height: 400px;
                    background-color: white;
                    padding: $s-m;
                    padding-left: 3 * $s-xl;
                    border-radius: 3px;
                    box-shadow: $main-shadow;
                    position: relative;

                    .imgCase {
                        border-radius: 3px;
                        box-shadow: $main-shadow;
                        border: 3px solid $base1-color;
                        position: absolute;
                        top: calc(50% - 150px);
                        left: -60px;

                        img {
                            border-radius: 3px;
                            height: 300px;
                            width: auto;
                        }
                    }
                    
                    .title {
                        max-width: 400px;

                        h4 {
                            font-size: $f-m;
                        }
    
                        .line {
                            width: 40%;
                            background-color: $hover-color;
                            height: 2px;
                            border-radius: 10px;
                            margin-top: $s-xxxs;
                            margin-bottom: $s-s;
                        }
                    }
                }
            }
            
        }

        .carouselBox {
            @include column-start-center;
            
            .carouselGallery {
                width: 500px;
                box-shadow: $main-shadow;

                img {
                    max-width: 90%; /* Obrázek nebude nikdy větší než 90% šířky okna */
                    max-height: 90%; /* Obrázek nebude nikdy větší než 90% výšky okna */
                }
            }
        }
    }
}