@import "index";

//OBECNÁ NASTAVENÍ BOXŮ
.container-fluid {
    padding: 0 !important;
}

.outerBox {
    width: 100%;
    @include column-start-center;

    .container {
        // border: 1px solid black;
        
        @include w-1400-min {
            max-width: 85%;
        }
    }
}

//TYPOGRAFIE

h1 {
    font-family: $header-font;
}

h2 {
    font-family: $header-font;
}

p {
    font-family: $main-font;
    font-size: $f-s;
    letter-spacing: 1.2px;

    span {
        font-weight: 500;
    }
}

b, strong {
    font-weight: 600 !important;
}

//LOGA, BUTTONY

#logo {
    border-radius: 3px;
    width: 70px;
    height: auto;
    // background-color: $base2-color;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: $s-xxxs;

    &:hover {
        transform: scale(1.05);
    }
}

.button {
    background-color: #e4decf7f;
    color: white;
    border-radius: 3px;
    font-size: $f-m;
    border: none;
    width: auto;
    height: auto;
    padding: $s-xxs $s-xs;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: $base2-color;
        color: $font-color;
    }
}

.container {

    .alert {
        background-color: $contrast-color;
        width: 100%;
        box-shadow: $main-shadow;
        padding: $s-xs $s-s;
        margin-bottom: $s-s;

        p {
            color: white;
            font-size: $f-s;
            letter-spacing: 0.5px;
            margin: 0;
        }
    }
}

//WEB SECTIONS
/* NAVBAR */
.navbarBox {
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: auto;
    @include row-between-center;
    padding: $s-s $s-m;
    box-sizing: border-box;
    z-index: 2;

    //navbar - desktop
    .nav-links {
        width: 100%;
        @include row-between-center;

        .right {
            width: 50%;
            @include row-between-center;

            .navLink {
                text-decoration: none;
                font-family: $main-font;
                letter-spacing: 2px;
                font-size: $f-m;
                padding: $s-xxs $s-xs;
                color: white;
                transition: all 0.2s ease-in-out;
                cursor: pointer;
    
                &:hover { 
                    background-color: #766f639c;
                    border-radius: 3px;
                }
    
                &.active {
                    color: $font-color;
                    background-color: $base2-color;
                    border-radius: 3px;
                }
    
                // .navLink responsivity
                @include w-1000 {
                    margin-bottom: $s-xxs;
                    color: $base1-color;
                }
            }
    
            // .nav-links responsivity
            @include w-1000 {
                display: none;
            }
        }
    }

    //navbar - scrolled
    &.scrolled {
        background-color: $base2-color;

        .nav-links {

            .right {

                .navLink {
                    color: $font-color;

                    &.active {
                        color: $base2-color;
                        background-color: $contrast-color;
                    }

                    &:hover { 
                        background-color: #8474579c;
                    }
                }
            }
        }
    }

    //navbar - hamburger
    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;

        .bar {
            height: 3px;
            width: 35px;
            background-color: $hover-color;
            border-radius: 3px;
            transition: all 0.3s ease;
            margin-bottom: 10px;
        }

        // .hamburger responsivity
        @include w-1000 {
            display: flex;
            z-index: 2;
            margin-top: $s-s;
        }
    }

    /* Přechod hamburgeru na křížek */
    &.open {
        
        .bar {

            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 13.5px) scaleX(1.2);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -13.5px) scaleX(1.2);
            }

            // .bar - responsivity
            @include w-1000 {
                background-color: $hover-color;
            }
        }

        // .nav.open - responsivity
        @include w-1000 {
            padding-top: 0;

            .nav-links .right {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                text-align: center;
                transition: 0.3s ease-in-out;
                margin-top: 0;
                z-index: 1;
                padding-top: $s-xs;
                padding-bottom: $s-xs;
                background-color: red;

                &.show {

                    // .nav-links.show - responsivity
                    @include w-1000 {
                        display: flex;
                        background-color: $base2-color;
                    }
                }
            }
        }
    }
}

//FOOTER
.footerSection {
    background-color: $contrast-color;
    color: white;
    width: 100%;
    height: auto;
    padding-top: $s-m;
    padding-bottom: $s-m;

    .footerInfo {
        @include row-between-start;

        .footerColumn {
            @include column-start-start;

            h5 {
                font-size: $f-xs;
                margin-bottom: $s-xxs;
                letter-spacing: 2px;
            }

            p {
                font-size: $f-xxs;
                letter-spacing: 1.2px;
                margin-bottom: $s-xxs;
            }

            a {
                text-decoration: none;
                color: white;
                font-size: $f-xxs;
                letter-spacing: 1.2px;
                margin-bottom: $s-xxs;
                cursor: pointer;

                &:hover {
                    color: $base2-color;
                }
            }

            .footerLink {
                text-decoration: none;
                color: white;
                font-size: $f-xxs;
                margin-bottom: $s-xxs;
                letter-spacing: 1.2px;
                cursor: pointer;

                &:hover {
                    color: $base2-color;
                }
            }
        }
    }

}


//FORMULÁŘ
form {
    @include column-start-start;
    padding: $s-s;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(255, 255, 255, 0.3); 

    label {
        font-size: $f-s;
        margin-right: $s-xs;
        margin-bottom: $s-xxs;
        
    }

    input, textarea {

        &:focus {
            outline: none;
            border: 2px solid #c1b6a0;
            box-shadow: 0 0 5px #c1b6a0;
        }
    }

    input {
        height: 30px;
        font-size: $f-s;
        margin-bottom: $s-s;
        min-width: 600px;
        background: rgba(255, 255, 255, 0.37);
        border-radius: 3px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.2px);
        -webkit-backdrop-filter: blur(4.2px);
        border: 1px solid rgba(255, 255, 255, 0.3); 
    }

    textarea {
        width: 100%;
        margin-bottom: $s-xxs;
        font-size: $f-s;
        margin-right: $s-s;
        min-height: 150px;
        background: rgba(255, 255, 255, 0.37);
        border-radius: 3px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.2px);
        -webkit-backdrop-filter: blur(4.2px);
        border: 1px solid rgba(255, 255, 255, 0.3); 
    }

    

    .button {
        margin-top: $s-s;
        text-decoration: none;
        background-color: #c1b6a0;
        font-size: $f-s;
        color: $font-color;
        cursor: pointer;

        &:hover {
            background-color: $contrast-color;
            color: white;
        }
    }
}


//HOME
.home {

    //SEKCE LANDING PAGE
    .landingPage {
        background-image: url("/images/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        height: 100vh;
        width: 100%;
        position: relative;

        @include w-1000 {
            min-height: 400px;
            height: auto;
        }

        @include w-600 {
            height: 100vh;
            background-position: right;
        }
        

        .headingBox {
            @include column-start-start;
            margin-top: 15%;

            h1 {
                color: white;
                font-size: 3 * $f-xl;
                letter-spacing: 2.2px;
                line-height: 1.5;
                margin-bottom: $s-xxs;
            }

            p {
                color: white;
            }

            .buttons {
                @include row-between-center;
                margin-top: $s-xxxl;
                margin-bottom: $s-s;

                .button {
                    text-decoration: none;
                    letter-spacing: 1.2px;
                    cursor: pointer;

                    &:nth-child(1) {
                        margin-right: $s-l;
                    }
                }
            }
        }

        #phoneNumber {
            position: absolute;
            bottom: $s-s;
            right: 40px;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            margin-bottom: 0;

            a {
                color: white;
                text-decoration: none;

                #phoneIcon {
                    font-size: $f-xxl;
                }
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    //SEKCE SLUZBY
    .sluzby {
        margin-top: $s-xxxl;
        margin-bottom: 2 * $s-l;
        width: 100%;

        .container {
            h2 {
                font-size: 2 * $f-l;
                letter-spacing: 2.2px;
                text-transform: uppercase;
                margin-bottom: $s-m;
            }
    
            p {

                &:nth-of-type(2) {
                    margin-top: $s-xs;
                    margin-bottom: $s-xxs;
                }
            }

            ul {

                li {
                    font-size: $f-s;
                    margin-bottom: $s-xxs;

                    span {
                        font-weight: 600;
                    }
                }
            }
        }

        .sluzbyCards {
            @include row-between-start;
            margin-top: $s-xxxl;

            .karticka {
                height: auto;
                min-width: 350px;
                max-width: 500px;
                // background-color: $contrast-color; VERZE 1
                // color: $base2-color; VERZE 1
                background-color: white; //VERZE 2
                color: $contrast-color; //VERZE 2
                border: $base2-color 3px solid; //VERZE 2
                padding: $s-s;
                padding-top: $s-xxl;
                box-shadow: $main-shadow;
                border-radius: 3px;
                position: relative;
                @include column-start-center;

                background: rgba(255, 255, 255, 0.37);
                    border-radius: 3px;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(4.2px);
                    -webkit-backdrop-filter: blur(4.2px);
                    border: 1px solid rgba(255, 255, 255, 0.3); 

                .iconCircle {
                    border-radius: 50%;
                    width: 80px;
                    height: 80px;
                    // background-color: $contrast-color; VERZE1
                    background-color: #f0ece4; //VERZE 2
                    @include row-center-center;
                    position: absolute;
                    top: -40px;
                    left: calc(50% - 40px);
                    border: 3px solid white;
                    box-shadow: $main-shadow;

                    .iconCircle_ikonka {
                        font-size: 2 * $f-m;
                        // color: $base2-color; VERZE 1
                        color: $contrast-color; //VERZE2
                    }
                }

                h3 {
                    font-size: $f-m;
                    letter-spacing: 1.2px;
                }

                h4 {
                    font-size: $f-s;
                    margin: $s-s 0 $s-xxxs 0;
                    letter-spacing: 1.2px;
                    // color: white; VERZE1 
                    color: $font-color; //VERZE2
                }

                .line {
                    height: 2px;
                    border-radius: 10px;
                    background-color: white;
                    width: 40%;
                    margin-bottom: $s-s;
                    margin-top: $s-xxs;
                }

                // .line2 {
                //     align-self: flex-start;
                //     margin-bottom: $s-xs;
                //     margin-top: $s-xxxs;
                //     height: 1px;
                // }

                p {

                    span {
                        font-weight: 400;
                        // color: white; VERZE1 
                        color: $font-color; //VERZE2
                    }
                }

                ul {
                    list-style-type: none;
                    padding: 0;

                    li {
                        font-size: $f-s;
                        margin-bottom: $s-xs;
                        letter-spacing: 1.2px;
    
                        span {
                            font-weight: 600;
                            // color: white; VERZE1 
                            color: $font-color; //VERZE2
                        }
                    }
                }

                .button {
                    margin: $s-s 0 0 0;
                    text-decoration: none;
                    background-color: #c1b6a0;
                    margin-top: $s-xxs;
                    font-size: $f-s;
                    color: $font-color;
                    cursor: pointer;
    
                    &:hover {
                        background-color: $contrast-color;
                        color: white;
                    }
                }

                &:nth-child(1),
                &:nth-child(2) {
                    margin-right: $s-xl;
                }
            }
        }
    }

    //SEKCE NÁŠ TÝM
    .tym {
        width: 100%;
        background-color: $base1-color;
        color: $hover-color;
        padding-top: $s-xxxl;

        .container {

            h2 {
                font-size: 2 * $f-l;
                letter-spacing: 2.2px;
                text-transform: uppercase;
                margin-bottom: $s-m;
            }

            p {

                    span {
                        font-weight: 600;
                    }
            }

            .medailonky {
                width: 100%;
                @include column-start-center;
                margin-top: $s-xxxl;

                .medailonek {
                    margin-bottom: $s-xxl;
                    width: auto;
                    max-width: 90%;
                    min-height: 400px;
                    background-color: white;
                    padding: $s-m;
                    padding-left: 3 * $s-xl;
                    border-radius: 3px;
                    box-shadow: $main-shadow;
                    position: relative;

                    background: rgba(255, 255, 255, 0.37);
                    border-radius: 3px;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(4.2px);
                    -webkit-backdrop-filter: blur(4.2px);
                    border: 1px solid rgba(255, 255, 255, 0.3); 

                    .imgCase {
                        border-radius: 3px;
                        box-shadow: $main-shadow;
                        // border: 3px solid $base1-color;
                        position: absolute;
                        top: calc(50% - 150px);
                        left: -60px;

                        img {
                            border-radius: 3px;
                            height: 300px;
                            width: auto;
                        }
                    }
                    
                    .title {
                        max-width: 400px;

                        h4 {
                            font-size: $f-m;
                        }
    
                        .line {
                            width: 40%;
                            background-color: $hover-color;
                            height: 2px;
                            border-radius: 10px;
                            margin-top: $s-xxxs;
                            margin-bottom: $s-s;
                        }
                    }
                }
            }
            
        }

        .carouselBox {
            @include column-start-center;
            
            .carouselGallery {
                width: 500px;
                box-shadow: $main-shadow;

                img {
                    max-width: 90%; /* Obrázek nebude nikdy větší než 90% šířky okna */
                    max-height: 90%; /* Obrázek nebude nikdy větší než 90% výšky okna */
                }
            }
        }
    }

    //SEKCE OTEVÍRACÍ DOBA
    .oteviracka {
        width: 100%;
        background-color: $base2-color;
        color: $font-color;
        padding-top: $s-xxxl;
        padding-bottom: $s-xxxl;

        .container {

            h2 {
                font-size: 2 * $f-l;
                letter-spacing: 2.2px;
                text-transform: uppercase;
                margin-bottom: $s-xl;
            }

            .mistoCas {
                @include row-between-start;

                .misto {
                    @include column-start-start;
                    margin-right: $s-m;
                    text-align: left;

                    h3 {
                        font-size: $f-l;
                        margin-bottom: $s-xs;
                    }

                    .info {
                        cursor: pointer;
                        margin-bottom: $s-xxs;

                        a {
                            @include row-start-start;
                            text-decoration: none;
                            color: $font-color;

                            .mistoIkonka {
                                font-size: $f-xl;
                                margin-right: $s-xs;
                            }

                            &:hover {
                                color: $link-color;
                            }
                        }
                    }

                    span {
                        font-size: $f-s;
                    }

                    .mistoAdresa {
                        margin-bottom: $s-s;
                    }

                    .mistoKontakt {
                        
                        .info {

                            &:nth-of-type(1) {
                                margin-bottom: $s-xs;
                            }
                        }
                    }
                }

                .cas {
                    background-color: white;
                    padding: $s-m $s-l;
                    border-radius: 3px;
                    @include column-start-start;
                    max-width: 60%;

                    background: rgba(255, 255, 255, 0.37);
                    border-radius: 3px;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(4.2px);
                    -webkit-backdrop-filter: blur(4.2px);
                    border: 1px solid rgba(255, 255, 255, 0.3); 

                    h3 {
                        font-size: $f-l;
                        margin-bottom: $s-s;
                        align-self: center;
                    }

                    .casDny {
                        margin-top: $s-s;
                        width: 100%;
                        font-size: $f-s;
                        
                        .row {
                            margin-bottom: $s-xs;

                            .col-6 {

                                span {
                                    font-weight: 500;
                                    margin: 0 $s-xxs;
                                }
                            }

                            &:last-of-type {
                                margin-bottom: 0;
                            }
                        }

                    }
                }
            }
        }
    }

    //SEKCE GALLERY
    .bordercontainer {

        .experiment {

            .content {
                max-width: 100%;
                display: flex;
                flex-wrap: wrap;
                margin: 0 auto;
                max-height: 350px;
                overflow: auto;
                border-radius: 3px;
                margin: $s-xl 0 (2 * $s-xl) 0;

                .img-box {
                    min-width: 134px;
                    max-height: 300px;
                    width: calc(25% - 16px);
                    flex-grow: 1;
                    margin: $s-xxxs;
                    overflow: hidden;
                    border-radius: 3px;
                    position: relative;
                    cursor: pointer;
                    display: inline-block;

                    img {
                        max-width: 100%;
                        min-height: 100%;
                        object-fit: cover;
                        border-radius: 3px;
                    }

                    &::after {
                        content: "zobrazit";
                        font-size: $f-s;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: rgba(0, 0, 0, 0.5);
                        color: white;
                        border-radius: 3px;
                        white-space: nowrap;
                        opacity: 0; /* Skrytí před hoverem */
                        transition: opacity 0.3s ease;
                        width: 100%;
                        height: 100%;
                        @include row-center-center;
                        pointer-events: none;
                        letter-spacing: 1.2px;
                    }

                    &:hover {
                        
                        &::after {
                            opacity: 1; /* Zobrazení při hoveru */
                        }
                    }
                }
            }
        }
    }
}

  .modal-body img {
    max-width: 100%;
  }

  .galleryButton {
    font-size: $f-s !important;
    background-color: #8f9a92 !important;
    color: white !important;
    font-family: $main-font !important;
    letter-spacing: 1px !important;

    &:hover {
        background-color: $hover-color !important;
    }
  }
  


//SEKCE SLUŽBY A CENÍK
.servicesPrices {

    .landingPage {
        background-image: url("/images/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        height: 100vh;
        width: 100%;
        position: relative;

        @include w-1000 {
            min-height: 400px;
            height: auto;
        }

        @include w-600 {
            height: 100vh;
            background-position: right;
        }

        .container {
            margin-bottom: $s-s;

            .boxes {
                margin-top: 2 * $s-xxxl;
                color: $font-color;
                max-width: 60%;

                .dermaBox, .estetikaBox {
                    background-color: $base2-color;
                    border-radius: 3px;
                    margin-bottom: $s-s;
                    box-shadow: $main-shadow;
                    padding: $s-xs;
                    max-height: 20%;
                    
                    h5 {
                        font-size: $f-l;
                    }

                    .line {
                        background-color: $font-color;
                        height: 2px;
                        width: 20%;
                        border-radius: 10px;
                        margin-top: $s-xxs;
                        margin-bottom: $s-xs;
                    }

                    .button {
                        background-color: #c1b6a0;
                        margin-top: $s-xxs;
                        font-size: $f-s;
                        color: $font-color;
                        cursor: pointer;

                        &:hover {
                            background-color: $contrast-color;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    //dermatologické služby
    .dermatologickeSluzby {
        width: 100%;
        background-color: $base2-color;
        padding-top: $s-xxxl;
        padding-bottom: 2 * $s-l;
        
        .container {

            h2 {
                font-size: 2 * $f-l;
                letter-spacing: 2.2px;
                text-transform: uppercase;
                margin-bottom: $s-m;
            }

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    font-size: $f-s;
                    margin-bottom: $s-xxs;
                    letter-spacing: 1.2px;

                    span {
                        font-weight: 600;
                        // color: white; VERZE1 
                        color: $font-color; //VERZE2
                    }
                }
            }

            h3 {
                margin-top: $s-xxl;
                margin-bottom: $s-s;
                font-size: $f-xl;
                letter-spacing: 2.2px;
                font-family: $header-font;
                text-transform: uppercase;
            }

            .konkretniSluzby {
                margin-bottom: $s-m;
                display: grid;
                grid-template-areas:
                "prvni prvni druha druha treti treti"
                "ctvrta ctvrta ctvrta pata pata pata";
                gap: $s-xs;

                @include w-1000 {
                    grid-template-areas:
                    "prvni"
                    "druha"
                    "treti"
                    "ctvrta"
                    "pata";
                }

                .sluzba {
                    padding: $s-xs;
                    background-color: white;
                    border-radius: 3px;
                    @include column-center-center;
                    text-align: center;
                    color: $font-color;

                    background: rgba(255, 255, 255, 0.37);
                    border-radius: 3px;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(4.2px);
                    -webkit-backdrop-filter: blur(4.2px);
                    border: 1px solid rgba(255, 255, 255, 0.3); 

                    &.prvni {
                        grid-area: prvni;
                    }

                    &.druha {
                        grid-area: druha;
                    }

                    &.treti {
                        grid-area: treti;
                    }

                    &.ctvrta {
                        grid-area: ctvrta;
                    }

                    &.pata {
                        grid-area: pata;
                    }
                }
            }

            .button {
                text-decoration: none;
                background-color: #c1b6a0;
                margin-top: $s-xxs;
                font-size: $f-s;
                color: $font-color;
                cursor: pointer;

                &:hover {
                    background-color: $contrast-color;
                    color: white;
                }
            }
        }
    }

    //estetické služby
    .estetickeSluzby {
        width: 100%;
        background-color: $base1-color;
        padding-top: $s-xxxl;
        padding-bottom: 2 * $s-l;
        color: $hover-color;
        
        .container {
            
            h2 {
                font-size: 2 * $f-l;
                letter-spacing: 2.2px;
                text-transform: uppercase;
                margin-bottom: $s-m;
            }

            h3 {
                margin-top: $s-xxl;
                margin-bottom: $s-s;
                font-size: $f-xl;
                letter-spacing: 2.2px;
                font-family: $header-font;
                text-transform: uppercase;
            }

            .konkretniSluzby {
                margin-bottom: $s-m;
                display: grid;
                grid-template-areas:
                "prvni prvni prvni prvni prvni"
                "druha treti ctvrta pata sesta"
                "sedma osma devata desata jedenacta";
                gap: $s-xs;

                @include w-1000 {
                    grid-template-areas:
                    "prvni"
                    "druha"
                    "treti"
                    "ctvrta"
                    "pata"
                    "sesta"
                    "sedma"
                    "osma"
                    "devata"
                    "desata"
                    "jedenacta";
                }

                .sluzba {
                    padding: $s-xs;
                    background-color: white;
                    border-radius: 3px;
                    @include column-center-center;
                    text-align: center;
                    color: $hover-color;

                    background: rgba(255, 255, 255, 0.37);
                    border-radius: 3px;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(4.2px);
                    -webkit-backdrop-filter: blur(4.2px);
                    border: 1px solid rgba(255, 255, 255, 0.3); 

                    &.prvni {
                        grid-area: prvni;
                    }

                    &.druha {
                        grid-area: druha;
                    }

                    &.treti {
                        grid-area: treti;
                    }

                    &.ctvrta {
                        grid-area: ctvrta;
                    }

                    &.pata {
                        grid-area: pata;
                    }

                    &.sesta {
                        grid-area: sesta;
                    }

                    &.sedma {
                        grid-area: sedma;
                    }

                    &.osma {
                        grid-area: osma;
                    }

                    &.devata {
                        grid-area: devata;
                    }

                    &.desata {
                        grid-area: desata;
                    }

                    &.jedenacta {
                        grid-area: jedenacta;
                    }
                }
            }

            .button {
                text-decoration: none;
                background-color: #8f9a92;
                margin-top: $s-xxs;
                font-size: $f-s;
                color: white;
                cursor: pointer;

                &:hover {
                    background-color: $hover-color;
                    color: white;
                }
            }

        }
    }

    //ceník
    .cenik {
        width: 100%;
        background-color: $base2-color;
        padding-top: $s-xxxl;
        padding-bottom: 2 * $s-l;
        
        .container {
            
            h2 {
                font-size: 2 * $f-l;
                letter-spacing: 2.2px;
                text-transform: uppercase;
                margin-bottom: $s-m;
            }

            a {
                text-decoration: none;
                color: $font-color;

                &:hover {
                    color: $link-color;
                }
            }

            #accordion {
                margin-top: $s-m;
                margin-bottom: $s-m;

                .card {
                    margin-bottom: $s-xxxs;

                    background: rgba(255, 255, 255, 0.37);
                    border-radius: 3px;
                    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(4.2px);
                    -webkit-backdrop-filter: blur(4.2px);
                    border: 1px solid rgba(255, 255, 255, 0.3); 
                    
                    .card-header {
                        border: none;

                        .btn {
                            font-size: $f-s;
                        }
                    }
                    
                    .card-body {
                        padding: $s-xs;

                        p {
                            font-size: $f-xs;

                            &.cena {
                                font-weight: 500;
                            }
                        }
                        
                    }
                }
            }

            .button {
                background-color: #c1b6a0;
                margin-top: $s-xxs;
                font-size: $f-s;
                color: $font-color;
                cursor: pointer;

                &:hover {
                    background-color: $contrast-color;
                    color: white;
                }
            }
        }
    }
}


//SEKCE KONTAKT
.kontakt {
    .line {
        width: 100%;
        background-color: #c1b6a0;
        height: 120px;
    }

    .container {
        padding-top: $s-xxxl;
        padding-bottom: 2 * $s-l;

        .informace {
            @include row-between-start;

            h2 {
                text-transform: uppercase;
                font-size: $f-xxl;
                margin-bottom: $s-s;
            }

            a {
                font-size: $f-s;
                text-decoration: none;
                color: $font-color;
                cursor: pointer;

                &:hover {
                    color: $link-color;
                }
            }

            ul {

                li {
                    font-size: $f-s;

                    span {
                        font-weight: 600;
                    }
                }

                &:nth-of-type(1) {
                    margin-bottom: $s-s;
                }
            }

            .left {
                @include column-start-start;
                margin-right: $s-xxxl;

                .udaje {
                    margin-bottom: $s-m;

                    p, a {
                        @include row-start-start;

                        .kontaktIkonka {
                            font-size: $f-l;
                            margin-right: $s-xxs;
                        }
                    }
                }

                .spojeni {

                    .bus {
                        font-weight: 600;
                    }
                }
            }

            .right {
                @include column-start-start;
            }
        }

        .mapa {
            @include column-start-center;
            margin-top: $s-xxxl;
        }
    }
}