
//VARIABLES

//fonts
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$header-font: "Baskervville", serif;
$main-font: "Montserrat", sans-serif;


//colors
$base1-color: #effdec;
$base2-color: #e4decf;
$hover-color: #586b5c;
$contrast-color: #817969;
$font-color: #4d4639;
$link-color: #996f31;
$button-color: #e4decf7f;
$button-second-color: #c1b6a0;
$navbar-hover-color: #766f639c;
$navbar-scrolled-hover-color: #8474579c;
$beige-glass-color: #f0ece4;
$green-button-color: #8f9a92;

//shadows
$main-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;

//font sizes
$f-xxxs: 1rem;
$f-xxs: 1.3rem;
$f-xs: 1.5rem;
$f-s: 1.8rem;
$f-m: 2rem;
$f-l: 2.5rem;
$f-xl: 3rem;
$f-xxl: 3.6rem;
$f-xxxl: 4rem;

//spaces
$s-xxxs: 0.5rem;
$s-xxs: 1rem;
$s-xs: 2rem;
$s-s: 3rem;
$s-m: 4rem;
$s-l: 5rem;
$s-xl: 6rem;
$s-xxl: 7rem;
$s-xxxl: 9rem;



//mixins
@mixin column-start-center {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

@mixin column-start-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

@mixin column-start-end {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

@mixin column-start-between {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: space-between;
}

@mixin column-center-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

@mixin column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin column-between-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin row-center-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin row-between-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin row-between-start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

@mixin row-start-center {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

@mixin row-start-start {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

@mixin row-center-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

@mixin row-end-center {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}


//breakpoints
$breakpoints: (
    "w-330": 330px,
    "w-400": 400px,
    "w-500": 500px,
    "w-600": 600px,
    "w-800": 800px,
    "w-1000": 1000px,
    "w-1200": 1200px,
    "w-1400": 1400px,
    "w-1600": 1600px,
    "w-2000": 2000px,
    "w-3000": 3000px 
);

@mixin w-330 {
    @media only screen and (max-width: map-get($breakpoints, "w-330")) {
        @content;
    }
};

@mixin w-400 {
    @media only screen and (max-width: map-get($breakpoints, "w-400")) {
        @content;
    }
};

@mixin w-500 {
    @media only screen and (max-width: map-get($breakpoints, "w-500")) {
        @content;
    }
};

@mixin w-600 {
    @media only screen and (max-width: map-get($breakpoints, "w-600")) {
        @content;
    }
};

@mixin w-800 {
    @media only screen and (max-width: map-get($breakpoints, "w-800")) {
        @content;
    }
};

@mixin w-1000 {
    @media only screen and (max-width: map-get($breakpoints, "w-1000")) {
        @content;
    }
};

@mixin w-1200 {
    @media only screen and (max-width: map-get($breakpoints, "w-1200")) {
        @content;
    }
};

@mixin w-1400 {
    @media only screen and (max-width: map-get($breakpoints, "w-1400")) {
        @content;
    }
};

@mixin w-1600 {
    @media only screen and (max-width: map-get($breakpoints, "w-1600")) {
        @content;
    }
};

@mixin w-1400-min {
    @media only screen and (min-width: map-get($breakpoints, "w-1400")) {
        @content;
    }
}

@mixin w-2000 {
    @media only screen and (min-width: map-get($breakpoints, "w-2000")) {
        @content;
    }
};

@mixin w-3000 {
    @media only screen and (min-width: map-get($breakpoints, "w-3000")) {
        @content;
    }
};




body, html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $base2-color;
    color: $font-color;
    font-family: $main-font;
    overflow-x: hidden;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}
